.main_home {
  width: 100%;
  height: 100%;
}

p {
  color: #666;
}

.h_hero_section {
  width: 100%;
  height: 100%;
  padding: 3rem 0;
  background: linear-gradient(180deg, #175d92 0%, #1a83a9 100%);
  /* background: #000000e0; */

  /* background: linear-gradient(180deg, #175f96 0%, #33a1c8 100%); */
}

.h_hero_main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.h_hero_left {
  padding: 0 6rem;
  width: 70%;
}

.h_hero_left img {
  width: 220px;
}

.h_hero_left h1 {
  margin-top: 2rem;
  font-size: 3rem !important;
  color: white;
  font-weight: 600;
  font-family: "Josefin Sans" !important;
}

.h_hr {
  width: 120px;
  height: 4px;
  border: none;
  border-radius: 20px;
  background: #a8adac;
  margin-top: 1.5rem;
}

.hl_ul {
  width: 100%;
  padding: 0 3rem;
  margin-top: 2rem;
  list-style-position: outside !important;
}

.hl_ul li {
  font-size: 1.2rem;
  color: #d0c9bf;
  font-weight: 400;
  line-height: 2rem;
  font-family: "Josefin Sans", sans-serif;
}

.h_hero_right {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: 6rem;
}

.h_hero_right img {
  width: 70%;
}

.h_media {
  width: 100%;
  display: flex;
  padding: 0 6rem;
}

.h_media img {
  width: 171px;
  -o-object-fit: contain;
  object-fit: contain;
  margin-right: 2rem;
}

/* h_details_section */

.h_details_section {
  width: 100%;
  height: 100%;
  margin: 6rem 0 2rem 0;
}

.h_swiper {
  height: 600px;
}

.hds_slider {
  width: 100% !important;
  display: flex !important;
  /* justify-content: center !important; */
}

.ee_main {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.ee_main img {
  border: 2px solid #d0a15e;
  padding: 0.8rem;
  width: 400px;
  height: 500px;
  /* object-fit: contain; */
}

.hds_content {
  padding: 3rem 1rem;
  width: 50% !important;
  text-align: justify;

  margin: 0 auto;
  /* background: #b3f5f514; */
  /* box-shadow: 0 1px 10px -3px rgb(0 0 0 / 22%); */
}

.hds_content .h_hr {
  margin-top: 0.5rem;
  background: #d0a15e;
  margin-bottom: 0.7rem;
}

.hds_content > div {
  height: 464px;
  overflow: scroll;
}

.hds_content > div::-webkit-scrollbar {
  width: 10px;
  height: 50px;
  /* background:-webkit-linear-gradient(0, blue 50%, white 100%); */
  border-radius: 20px;
}

.hds_content h2 {
  color: #2f6a9e;
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
}

.hds_content p {
  font-family: "Open Sans", sans-serif;
  margin: 1rem 0;
  font-size: 1.1rem;
  line-height: 1.6rem;
  color: #0000008c;
}

.h_video_section {
  width: 100%;
  height:max-content;
  padding:2rem 0;
  text-align: center;
}

/* h_more_section */

.h_more_section {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 3rem 10rem;
  flex-wrap: wrap;
}

.hms_left {
  width: 50%;
  height: 100%;
}

.hmsl_content {
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
  /* height: 550px; */
  text-align: left;
  display: flex;
  /* overflow-y: scroll; */
}

.hmsl_text {
  width: 100%;
  height: 390px;
  overflow-y: scroll;
}

.hmsl_content h2 {
  font-size: 2rem;
  color: #2f6a9e;
  width: 428px;
  line-height: 1.2;
  margin-bottom: 1rem;
  font-family: "Josefin Sans", sans-serif;
}

.hmsl_content span {
  font-size: 1.2rem;
  font-weight: bold;
  color: #d0a15e;
  margin-bottom: 0.6rem;
}

.hmsl_content .h_hr {
  background: #5959a9;
  height: 8px;
}

.hmsl_content p {
  font-size: 1.1rem;
  margin: 0.5rem 0;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

.hmsl_text::-webkit-scrollbar {
  width: 20px;
}

.hms_right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hms_right img {
  width: 460px;
  height: 520px;
}

/* h_more_section2 */

.h_more_section2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  padding: 3rem 10rem;
  flex-wrap: wrap;
}

.h_more_section2 .hmsl_content h2 {
  width: 100%;
}

.h_more_section2 .hms_right {
  justify-content: flex-start;
}

/* estate_enforce_section */

.estate_enforce_section {
  width: 100%;
  height: 100%;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
}

.estate_enforce_section h2 {
  color: #2f6a9e;
  font-family: "Josefin Sans" !important;
  text-align: center;
  font-size: 2.8rem;
}

.estate_enforce_section p {
  text-align: center;
  width: 754px;
  margin: 1.5rem auto;
  font-size: 1.1rem;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

.ees_cards_section {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.eescard {
  width: 18rem;
  margin: 3rem 0;
  padding: 2rem 0;
  text-align: center;
  box-shadow: 0 10px 40px 0 rgb(50 50 50 / 10%) !important;
  transition: all ease 0.3s;
}

.eescard:hover {
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
  transform: scale(1.05) translateY(-1rem);
  transition: all 0.3s;
  background: #b2e6b13b;
}

.eescard:hover h2,
.eescard:hover i {
  color: #2f6a9e;
}

.eescard .MuiCardContent-root {
  padding: 0 !important;
}

.eescard i {
  border: 1px solid #1c28bbb8;
  padding: 30px;
  border-radius: 100%;
  font-size: 50px;
  color: #1c28bbb8;
}

.eescard h2 {
  font-size: 1.1rem !important;
  font-family: "Josefin Sans" !important;
  color: #353535;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 1rem;
}

/* h_team_section */

.h_team_section {
  width: 100%;
  height: 100%;
  padding: 3rem 0;
  text-align: center;
}

.h_team_section h1 {
  font-size: 3rem;
  font-family: "Josefin Sans" !important;
  position: relative;
  color: #2f6a9e;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
    mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
    mask-position: -50%;
  }
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
    mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
    mask-position: -50%;
  }
}

.h_team_section h1:after {
  position: absolute;
  content: "";
  background: #444;
  width: 140px;
  height: 4px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -12px;
  transition: all 0.5s ease;
  mask-image: linear-gradient(
    -75deg,
    rgba(244, 55, 55, 0.24) 50%,
    #f43737 0,
    #000 70%
  );
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(244, 55, 55, 0.24) 50%,
    #f43737 0,
    #000 70%
  );
  -webkit-mask-size: 200%;
  mask-size: 200%;
  -webkit-animation: shine 2s infinite;
  animation: shine 2s infinite;
}

/* 
.h_team_section > h1:hover,
.h_team_section > p:hover {
  transform: skewY(1deg) skewX(13deg);
  transition: ease all 0.4s;
  color: #b97a1d;
  opacity: 0.9;
} */
.h_team_section > p {
  font-size: 1.1rem;
  width: 600px;
  line-height: 1.5;
  margin: 1.5rem auto;
  font-family: "Open Sans", sans-serif !important;
}

.team_cards_section {
  display: flex;
  width: 72%;
  margin: 3rem auto;
  justify-content: space-between;
}

.teamcard {
  width: 370px;
  /* height: 400px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: none !important;
}

.MuiCardActionArea-root:hover .MuiCardActionArea-focusHighlight {
  background-color: transparent !important;
}

.tcard_img {
  width: 250px;
  height: 250px !important;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 100%;
  margin: 0 auto;
}

.tcard_img::before {
  content: "";
  border: 10px solid #453134;
  border-radius: 100%;
  left: 0;
}

.tcard_bottom {
  width: 320px !important;
  padding: 20px 0 !important;
  margin-top: -45px !important;
  margin: 0 auto;
  background: #f5f5f5;
  border-radius: 10px;
}

.tcard_bottom h2 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #353535;
  font-family: "Josefin Sans" !important;
}

.tcard_bottom span {
  font-size: 1rem;
  font-family: " Open Sans", sans-serif !important;
  color: #d0a15e;
}

/* ask_questions_section */

.ask_questions_section {
  width: 100%;
  height: 100%;
  padding: 3rem 0;
  text-align: center;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
}

.ask_questions_section h1 {
  font-family: "Josefin Sans" !important;
  font-size: 2.8rem;
  color: #2f6a9e;
}

.ask_questions_section > p {
  font-size: 1.1rem;
  margin-top: 1rem !important;
  line-height: 1.5;
  margin: 0 auto;
  width: 500px;
  font-family: " Open Sans", sans-serif !important;
}

.ask_questions_section h1:hover,
.ask_questions_section p:hover {
  transform: skewY(1deg) skewX(13deg);
  transition: ease all 0.4s;
  color: #4c85bf;
  opacity: 0.9;
}

.askcard_section {
  width: 80%;
  margin-top: 5rem !important;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.askcard {
  width: 334px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 2rem;
}

.askcard:hover {
  cursor: pointer;
  transition: ease all 0.4s;
  outline: 4px solid #2d46bf96;
  transform: scale(1.05) translateY(0rem);
}

.askcard > div {
  width: 100%;
  height: 100%;
}

.askcard i {
  font-size: 2rem;
  color: #2f6a9e;
  margin-bottom: 0.8rem;
}

.askcard h2 {
  font-family: "Josefin Sans" !important;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4;
}

.askcard p {
  margin: 1rem auto;
  line-height: 1.6;
  text-align: justify;
  font-size: 1rem;
  font-family: " Open Sans", sans-serif !important;
}

.askcard p:hover {
  transform: scale(1.05) translateY(0rem);
}

.askcard button {
  border-radius: 5px;
  border: 1px solid #2d46bfd9 !important;
  font-size: 15px;
  font-size: 15px;
  background: -webkit-linear-gradient(left, #2d46bfd9, #33415d) !important;
  color: #fff;
  padding: 8px 25px;
}

.askcard button:hover {
  transform: translateY(-5px);
  box-shadow: 0 13px 12px rgb(17 52 78 / 42%);
}

/* testinomial_section */

.testinomial_section {
  width: 100%;
  height: 100%;
  padding: 3rem 0;
}

.testinomial_section > h1 {
  text-align: center;
  font-family: "Josefin Sans" !important;
  font-size: 2.8rem;
}

.testinomial_section > h1:hover {
  transition: ease all 0.4s;
  transform: scale(1.05) translateY(-0.5rem);
  color: #b97a1d;
}

.testinomial_section > p {
  font-size: 1.1rem;
  text-align: center;
  margin-top: 1rem !important;
  line-height: 1.5;
  font-family: " Open Sans", sans-serif !important;
}

.testinomial_section > p:hover {
  transition: ease all 0.4s;
  transform: scale(1.05) translateY(-0.5rem);
  color: #b97a1d;
}

.testinomial_card_section {
  display: flex;
  margin-top: 2rem;
}

.testinomial_card {
  width: 714px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0 auto;
  transform: skewX(-12deg);
  display: flex;
  margin-bottom: 3rem;
  align-items: flex-start;
  background: #f5f5f5;
  padding: 60px 30px 60px 30px;
  justify-content: space-between;
}

.testinomial_slide {
  width: 80%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.testinomial_card .swiper-slide {
  width: 50% !important;
}

.testinomial_card i {
  font-size: 1.4rem;
  color: #d0a15e;
}

.testinomial_card img {
  width: 116px;
  height: 116px;
  border-radius: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  transition: all 0.4s ease 0s;
}

.testinomial_card img:hover {
  transform: translate(0rem) scale(1) !important;
  filter: blur(2px) brightness(96%);
}

.tc_content {
  width: 360px;
}

.tc_content > h2 {
  font-size: 2rem;
  font-family: "Josefin Sans" !important;
}

.tc_content > p {
  margin-top: 0.6rem;
  line-height: 1.4;
  font-size: 1.1rem;
  font-family: " Open Sans", sans-serif !important;
}

/* 
 */

.edu_team_main_box {
  width: 250px;
  height: 250px;
  text-align: center;
  background: #f1f1f1;
  border-radius: 100%;
  position: relative;
  margin-top: 60px;
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 32px;
}

.edu_team_inner_box {
  text-align: center;
  border-radius: 100%;
  transition: all 0.7s;
}

.edu_team_inner_box,
.edu_team_main_box:after {
  width: 237px;
  height: 238px;
  position: absolute;
  top: 0;
}

.edu_team_main_box:after {
  content: "";
  border: 10px solid #453134;
  border-radius: 100%;
  left: 0;
}

.edu_team_inner_box img {
  width: 250px;
  border-radius: 100%;
  height: 250px;
}

.edu_team_main_box:hover h3,
.edu_team_main_box:hover p,
.edu_team_main_box:hover ul {
  opacity: 1;
  transition: all 0.5s;
  font-size: 1.3rem;
  font-weight: bold;
}

.edu_team_main_box h3 {
  position: relative;
  z-index: 1;
  opacity: 0;
  transition: all 0.5s;
}

.edu_team_main_box h3 a {
  font-size: 18px;
  color: #453134;
  font-weight: 600;
}

h1 a,
h1 a:hover,
h2 a,
h2 a:hover,
h3 a,
h3 a:hover,
h4 a,
h4 a:hover,
h5 a,
h5 a:hover,
h6 a {
  transition: all 0.5s;
}

.edu_team_main_box p,
.edu_team_main_box ul {
  opacity: 0;
  transition: all 0.5s;
}

.edu_team_main_box ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  position: relative;
  z-index: 1;
}

.edu_team_main_box ul li {
  margin: 0 5px;
}

.edu_team_main_box ul li i {
  color: #2f6a9e !important;
}

.edu_team_main_box p {
  font-size: 16px;
  color: #1e283c;
}

.edu_team_main_box:hover .edu_team_inner_box {
  top: -220px;
  transition: all 0.7s;
}
