.privacy_section {
  width: 100%;
  height: 100%;
  background: #f9f8f7;
  justify-content: center;
  display: flex;
}

.p_hero {
  width: 100%;
  height: 87vh;
  background: #000000e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.p_hero h2 {
  font-size: 5rem;
  color: white;
}

.p_hero p {
  width: 52%;
  margin: 1rem auto;
  font-size: 1.1rem;
  color: white;
}

.p_content {
  width: 70%;
  height: max-content;
  /* margin: -100px auto 0 auto; */
  /* box-shadow: 0 1px 10px -3px rgb(0 0 0 / 22%); */
  padding: 4rem 2rem;
}

.p_content h1 {
  font-family: "Josefin Sans" !important;
  font-size: 3rem;
}

.p_content p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  text-align: justify;
}

.p_content .p_text {
  opacity: 0.9;
  margin: 1rem 0;
  font-family: "Open Sans", sans-serif;
}

.p_content h2 {
  margin: 0.4rem 0;
}

.p_content ul {
  list-style: none;
}

.p_content ul li {
  text-align: justify;
  margin-left: 2rem;
  margin: 1rem 0 0 2rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  opacity: 0.9;
  line-height: 1.6;
}

.p_content p {
  /* margin: 1rem 0; */
}
