.footer {
  width: 100%;
  height: 100%;
  padding: 4rem 0 2rem 0;
  background:linear-gradient(180deg, #175d92 0%, #1a83a9 100%);
  /* background: #231b0e; */
}

.fc_content {
  width: 90%;
  margin: 0 auto 3rem auto;
  display: flex;
  justify-content: space-between;
}

.fc_1 {
  width: 40%;
}

.fc_1 h2 {
  color: white;
  font-size: 1.2rem;
  font-family: "Josefin Sans" !important;
  margin: 1rem 0;
  line-height: 1.5;
}

.fc_1 p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: white;
  opacity: 0.9 !important;
  font-family: " Open Sans", sans-serif !important;
}

.fc_2 {
  width: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fc_content span {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  font-family: "Josefin Sans" !important;
}

.fc_content a:hover {
  color: #d0a15e;
}

.fc_2 a {
  margin: 0.4rem 0;
  font-size: 1rem;
  font-family: " Open Sans", sans-serif !important;
  color: white;
  opacity: 0.9 !important;
}

.fc_3 {
  width: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fc_3 a {
  margin: 0.4rem 0;
  font-size: 1rem;
  font-family: " Open Sans", sans-serif !important;
  color: white;
  opacity: 0.9 !important;
}

.fc_4 {
  width: 35%;
  padding-left: 28px;
}

.fc_4 p {
  margin-top: 1rem;
  color: white;
  line-height: 1.5;
  opacity: 0.9;
  font-family: " Open Sans", sans-serif !important;
}

.fc_4 img {
  width: 150px !important;
  margin-bottom: 0.6rem;
}

.f_host {
  width: 90%;
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
}

.f_bottom {
  border-top: 1px solid hsla(0, 0%, 100%, 0.08);
  padding: 30px 0;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.f_bottom > span {
  font-weight: 500;
  font-family: " Open Sans", sans-serif !important;
  color: white;
  word-spacing: 4px;
}

.f_bottom strong {
  color: #d0a15e;
}

.f_social_links {
  width: max-content;
  display: flex;
  align-items: center;
}

.f_social_links i {
  color: white;
  font-size: 20px;
  margin-right: 15px;
}

a {
  text-decoration: none;
}
/* header */

.header {
  width: 100%;
  height: 100px;
  padding: 0 30px;
  background: linear-gradient(180deg, #175d92 0%, #1a83a9 100%);
  /* background:#161a23e0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ffffff9e;
}

.nav_logo img {
  object-fit: contain;
  width: 213px;
}

.h_btn button {
  color: white;
  padding: 22px 25px !important;
  margin: 0 12px;
  line-height: 0;
}

.h_btn .s_btn {
  font-size: 1rem;
  font-weight: bold;
  background: transparent;
  border: 1.4px solid #4899bd;
}

.l_btn {
  background:#4899bd !important;
  font-size: 1rem;
  font-weight: bold !important; 
}